<div class="bodyXD">
  
  <!-- Componente Culturas -->
  <app-cultura *ngIf="mostrarComponenteCulturas" 
    (culturaSeleccionada)="seleccionarCultura($event)" 
    (mostrarComponentePaises)="mostrarPaises($event)">
  </app-cultura>

  <!-- Componente Paises -->
  <app-paises *ngIf="mostrarComponentePaises" [culturaSeleccionada]="culturaSeleccionada"  
    (MostrarRecetas)="mostrarRecetas($event)"
    (MostrarProductos)="mostrarProductos($event)"
    (MostrarRestaurantes)="mostrarRestaurantes($event)"
    (mostrarComponente)="VolverACulturas($event)"
  ></app-paises>

  <!-- Componente Recetas -->
  <app-recetas *ngIf="mostrarComponenteRecetas" 
  [culturaSeleccionada]="culturaSeleccionada" 
  (MostrarPaises)="VolverAPaises($event)"
  ></app-recetas>

  <!-- Componente Productos -->
  <app-productos *ngIf="mostrarComponenteProductos" 
  [culturaSeleccionada]="culturaSeleccionada"
  (MostrarPaises)="VolverAPaises($event)"></app-productos>

  <!-- Componente Productos -->
  <app-restaurantes *ngIf="mostrarComponenteRestaurantes" 
  [culturaSeleccionada]="culturaSeleccionada" 
  (MostrarPaises)="VolverAPaises($event)"></app-restaurantes>
  
</div>